*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #926239;
    line-height: 1.5;
}
#showcase{
    background: url(./images/beach-1.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 20px;
}
  #showcase h1{
    font-size: 50px;
    line-height: 1.2;
  }
  #showcase p{
    font-size:20px;
  }
 #showcase .button{
    font-size: 20px;
    text-decoration: none;
    color: #926239;
    border: 1px solid #926239;
    border-radius: 10px;
    padding: 3px 4px;
    margin-top: 30px;
  }
  #showcase .button:hover{
    color: rgb(120, 93, 93);
    background-color: rgb(181, 224, 224);
  }
  #section-a{
    padding:20px;
    color: white;
    background: #926239;
    text-align: center;
  }
   #section-b {
       padding: 20px;
       color: white;
       background: grey;
       text-align: center;
   }
   #section-c div{
    padding: 20px;
   }
   #section-c{
    display: flex;
    /* flex-wrap: wrap; */
   }
   @media (max-width: 767px){
    #section-c {
      flex-wrap: wrap;
        }
   }
  #section-c .box-1,  #section-c .box-3{
   color: #f4f4ff;
   background: #926239;
    }
         #section-c .box-2{
            background: #f4f4ff;
         }